.findout{
    height: 60vh;
    .findout_container{
        background: #2C2640;
        color: white;
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 1fr;
        .contain{
            background: url("./images/bg-pattern-how-we-work-desktop.svg");
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        
        .tap{
            border: 1px solid white;
            text-align: center;
            padding: 1.5rem;
            transition: 0.4s;
            margin: 6rem;
        }
        .tap:hover{
            background: white;
            color: #2C2640;
        }
       
        .work{
            padding: 5rem;
        }
    }
}
