footer{
    min-height: 40vh;
    background: #fafafa;
    color: #848285;
    .footer_container{
        position: relative;
        top: -200px;
        width: 80%;
        margin: auto;
        .social_buttons{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #d9d9d9;
            padding: 5rem 0;
            .logo{
                flex: 1;
                width: 10px;
                
            }
            .social{
                flex: 8;
                display: flex;
                justify-content: flex-end;
                a{
                    padding: 0 1rem;
                }
            }
        }
    }
    .footer_list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}

ul{
    list-style: none;
}
li{
    padding: 1rem 0;
}
li a{
    text-decoration: none;
    color: #2C2640;
}
